<% provide(:title, "Регистрация") %>

<div class="row center">
  <h1>Регистрация</h1>

  <div class="col-md-6 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "form-horizontal margin-top-fix" }) do |f| %>
      <div class="row">
        <div class="col-md-offset-2 col-md-10">
          <%= render('shared/error_messages') %>
        </div>
      </div>
      <fieldset>

        <div class="form-group">
            <%= f.label "Ваше имя", class: "col-md-2 control-label" %>
            <div class="col-md-10">
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :email, class: "col-md-2 control-label" %>
            <div class="col-md-10">
              <%= f.email_field :email, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label "Пароль", class: "col-md-2 control-label" %>
            <div class="col-md-10">
              <%= f.password_field :password, autocomplete: 'off',  class: "form-control" %>
            </div>
        </div>        

        <div class="form-group">
            <%= f.label "Повторите пароль", class: "col-md-2 control-label" %>
            <div class="col-md-10">
              <%= f.password_field :password_confirmation, autocomplete: 'off',  class: "form-control" %>
            </div>
        </div>    
      </fieldset>

      <%= f.submit "Создать аккаунт", class: "btn btn-success" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>