<% provide(:title, 'Все пользователи') %>
<h1>Все пользователи</h1>

<%= will_paginate %>

<div class="row">
  <ul class="users">
    <% @users.each do |user| %>
      <div class="col-md-3">
        <li>
        <% unless user.avatar_file_name.nil? %>
          <%= image_tag(user.avatar.url(:small), class: "img-thumbnail") %>
        <% else %>
          <%= image_tag("missing.jpg", class: "img-thumbnail missing") %>
        <% end %>
          <%= link_to user.username, user %>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<%= will_paginate %>
