<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Foodgram",root_path, class: "navbar-brand" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to "Главная", root_path %>
          </li>
          <li>
            <%= link_to "Помощь", '#' %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Пользователи', users_path %>
            </li>
            <li class="fat-menu dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Профиль", current_user %>
                </li>
                <li>
                  <%= link_to "Настройки", edit_user_registration_path %>
                </li>
                <li class="divider"></li>
                <li>
                    <%= link_to "Выход", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>  
            <li>
              <%= link_to "Войти", user_session_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>